<div class="popOver">
    <div class="d-flex align-items-center postAGood">
        <div class="postAGoodIcon">
            <img src='assets/images/goods.svg' alt="icons">
            <!-- <svg-icon class="" src="assets/images/goods.svg"></svg-icon> -->
        </div>
        <div>
            Post a good
        </div>
    </div>
    <div class="d-flex align-items-center postASkill" style="height:48px;">
        <div class="postASkillIcon">
            <img src='assets/images/skillset.svg' alt="icons">
        </div>
        <div>
            Post a skill
        </div>
    </div>

</div>