<div class="container-main d-block d-md-none ">
    <img src="assets/images/modelpopups/comming-soon-modal/close.jpg" class="float-right close-dialog" width="15"
        (click)="close()">
    <div class=" row d-flex flex-column align-items-center justify-content-between container-main2">
        <div class="col col-lg-6 col-md-6 col-sm-12">
            <div class="d-flex align-items-start justify-content-start flex-column">
                <div>
                    <img src="assets/images/logo-mobile@2x.png">
                </div>
                <div style="text-align: center;">
                    <h3 class="lineheightchange">Download the <span style="color: #4b562c; font-weight: bold;">Daily
                            Nickel App</span> to access
                        more
                        features, like
                        <span style="color:#4b562c;">live chat, offers,
                            communities</span>
                        , and much
                        more.
                    </h3>
                </div>
                <div>
                    <img src="assets/images/modelpopups/comming-soon-modal/today.jpg" class="position-relative"
                        style="width:68px; left: 79%;">
                    <h5 style="font-size:20px;"><span style="color: #4b562c; font-weight: bold;">DOWNLOAD </span>THE
                        APP
                    </h5>
                </div>
                <div class="d-flex justify-content-center align-items-start">
                    <div class="d-flex justify-content-center align-items-center flex-column">
                        <a href="https://play.google.com/store/apps/details?id=com.stlogicsllc.dailynickel"
                            target="blank"><img src="assets/images/modelpopups/comming-soon-modal/android.jpg"
                                class="mb-2" width="100"></a>
                        <a href="https://apps.apple.com/us/app/dailynickel/id1309502194" target="blank"><img
                                src="assets/images/modelpopups/comming-soon-modal/iOS.jpg" width="100"></a>
                    </div>
                    <div>
                        <img
                            class="qr-code-img-mob" 
                            src="assets/images/modelpopups/comming-soon-modal/qr-code.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-lg-6 col-md-6 col-sm-12  d-flex align-items-center justify-content-end flex-column">
            <!-- <div class="close-div position-relative">
        <div (click)="close()" class="d-flex center-a close-dialog">
            <i class="fas fa-times"></i>
        </div>
    </div> -->
            <img class="img-fluid" src="assets/images/modelpopups/comming-soon-modal/mobile-screens.jpg"
                style="width:360px;">
        </div>
    </div>
</div>
<div class=" d-none d-md-block">
    <img src="assets/images/modelpopups/comming-soon-modal/close.jpg" class="float-right close-dialog" width="25"
        (click)="close()">
    <div class=" row d-flex flex-row align-items-center justify-content-between container-main2">
        <div class="col col-lg-6 col-md-6 col-sm-6">
            <div class="d-flex align-items-start justify-content-start flex-column">
                <div>
                    <img src="assets/images/logo-mobile@2x.png">
                </div>
                <div>
                    <h2>Download the <span style="color: #4b562c; font-weight: bold;">Daily Nickel App</span> to access
                        more
                        features, like
                        <span style="color:#4b562c;">live chat, offers,
                            communities</span>
                        , and much
                        more.
                    </h2>
                </div>
                <div>
                    <img src="assets/images/modelpopups/comming-soon-modal/today.jpg" class="position-relative"
                        style="width:68px; left: 79%;">
                    <h4 style="font-size: x-large;"><span style="color: #4b562c; font-weight: bold;">DOWNLOAD </span>THE
                        APP
                    </h4>
                </div>
                <div class="d-flex justify-content-center align-items-start">
                    <div class="d-flex justify-content-center align-items-center flex-column">
                        <a href="https://play.google.com/store/apps/details?id=com.stlogicsllc.dailynickel"
                            target="blank"><img src="assets/images/modelpopups/comming-soon-modal/android.jpg"
                                class="mb-2" width="200"></a>
                        <a href="https://apps.apple.com/us/app/dailynickel/id1309502194" target="blank"><img
                                src="assets/images/modelpopups/comming-soon-modal/iOS.jpg" width="200"></a>
                    </div>
                    <div>
                        <img
                            class="qr-code-img" 
                            src="assets/images/modelpopups/comming-soon-modal/qr-code.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-lg-6 col-md-6 col-sm-6  d-flex align-items-center justify-content-end flex-column">
            <!-- <div class="close-div position-relative">
            <div (click)="close()" class="d-flex center-a close-dialog">
                <i class="fas fa-times"></i>
            </div>
        </div> -->
            <img class="img-fluid" src="assets/images/modelpopups/comming-soon-modal/mobile-screens.jpg"
                style="width:360px;">
        </div>
    </div>
</div>