.container-main {
  width: 300px;

  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: transparent;
}
.container-main2 {
  width: 100%;
  max-width: 60vw;

  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: transparent;
}
.close-div {
  display: flex;
  justify-content: flex-end;
}
.content-001 {
  padding: 5px 20px 20px 20px;
}
.close-dialog {
  cursor: pointer;
}
.close-dialog i {
  font-size: 13px;
  color: #000000;
}
.max-w {
  width: 100%;
}
.center-a {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.coming-soon {
  line-height: 35px;
}
.coming-soon span {
  background-color: #4b562c;
  font-size: 28px;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.regular-top-margin {
  margin-top: 20px;
}
.icons {
  height: 80px;
}
.appstore img {
  height: 35px;
  width: 100px;
}
.playstore img {
  height: 52px;
  width: 116px;
}
.qr-code-img {
  width: 9em;
}
.custom-dialog-container .mat-dialog-container {
  padding: 0;
  background-color: #a9d9f0;
}
.coming-soon-popup .mat-dialog-container {
  background-color: #a9d9f0;
}
.lineheightchange {
  line-height: 21px;
  margin-top: 5px;
}

@media (min-width: 426px) and (max-width: 767.98px) {
  .qr-code-img-mob {
    width: 5em;
  }
}

@media (max-width: 425px) {
  .coming-soon span {
    font-size: 22px;
  }
  .qr-code-img-mob {
    width: 5em;
  }
  ::ng-deep .custom-dialog-container .mat-dialog-container {
    padding: 11px;
  }
}
