<div class="outer-shell">
    <div class="max-w">
        <div class="max-w center-a">
            <ngx-skeleton-loader [theme]="{ width: '300px', height: '30px' }"> </ngx-skeleton-loader>
        </div>
        <div class="max-w center-a">
            <ngx-skeleton-loader [theme]="{ width: '280px', height: '15px' }"> </ngx-skeleton-loader>
        </div>
        <div class="max-w center-a">
            <ngx-skeleton-loader [theme]="{ width: '280px', height: '10px' }"> </ngx-skeleton-loader>
        </div>
        <div class="max-w flex-e">
            <ngx-skeleton-loader [theme]="{ width: '280px', height: '25px' }"> </ngx-skeleton-loader>
        </div>
        <div class="max-w center-a text-c">
            <ngx-skeleton-loader [theme]="{ width: '100px', height: '100px' }" appearance="circle">
            </ngx-skeleton-loader>
        </div>
    </div>
</div>