<!-- <div class="main-container-pm d-block d-md-none">
    <div class="d-flex align-items-center header p-3">
      <div (click)="closeProfilePopOvertab()" class="mr-2"><img src="assets/images/header_images/backIcon.svg" /></div>
      <div>My Account</div>
    </div>
    <div class="down-part">
      <div class="row no-gutters">
        <div class="col-4 d-flex center-a">
          <div class="avatar-presentation">
            <div class="profile-photo" [ngStyle]="{ 'background-image': 'url(' + user.user_profile + ')' }">
              <img src="assets/images/other-profile/check.svg" />
            </div>
          </div>
        </div>
        <div class="col-8">
          <div class="row no-gutters">
            <div class="col-11 name">
              <span>{{ user.user_fullname }}</span>
            </div>
            <div class="col-1 d-flex center-a edit">
              <img src="assets/images/other-profile/edit.svg" />
            </div>
          </div>
          <div class="max-w userid">
            <span>{{ user.user_username }}</span>
          </div>
        </div>
      </div>
      <div class="max-w options-presentaion">
        <div (click)="openDialogComingsoon()" class="option-box row no-gutters">
          <div class="col-2 d-flex center-a option-box-icon">
            <img src="assets/images/other-profile/postcard.svg" />
          </div>
          <div class="col-8 option-name">
            <span>My Posts</span>
          </div>
          <div class="col-2 d-flex center-a chev-right">
            <img src="assets/images/other-profile/leftarrow.svg" />
          </div>
        </div>
  
        <div (click)="openDialogComingsoon()" class="option-box row no-gutters">
          <div class="col-2 d-flex center-a option-box-icon">
            <img src="assets/images/other-profile/settings.svg" />
          </div>
          <div class="col-8 option-name">
            <span>My Communities</span>
          </div>
          <div class="col-2 d-flex center-a chev-right">
            <img src="assets/images/other-profile//leftarrow.svg" />
          </div>
        </div>
  
        <div (click)="openDialogComingsoon()" class="option-box row no-gutters">
          <div class="col-2 d-flex center-a option-box-icon">
            <img src="assets/images/other-profile/review.svg" />
          </div>
          <div class="col-8 option-name">
            <span>My Reviews</span>
          </div>
          <div class="col-2 d-flex center-a chev-right">
            <img src="assets/images/other-profile//leftarrow.svg" />
          </div>
        </div>
  
        <div (click)="openDialogComingsoon()" class="option-box row no-gutters">
          <div class="col-2 d-flex center-a option-box-icon">
            <img src="assets/images/other-profile/brain.svg" />
          </div>
          <div class="col-8 option-name">
            <span>Skills Details</span>
          </div>
          <div class="col-2 d-flex center-a chev-right">
            <img src="assets/images/other-profile//leftarrow.svg" />
          </div>
        </div>
  
        <div (click)="openDialogComingsoon()" class="option-box row no-gutters">
          <div class="col-2 d-flex center-a option-box-icon">
            <img src="assets/images/other-profile/settings.svg" />
          </div>
          <div class="col-8 option-name">
            <span>Notifications</span>
          </div>
          <div class="col-2 d-flex center-a chev-right">
            <img src="assets/images/other-profile//leftarrow.svg" />
          </div>
        </div>
  
        <div (click)="openDialogComingsoon()" class="option-box row no-gutters">
          <div class="col-2 d-flex center-a option-box-icon">
            <img src="assets/images/other-profile/settings.svg" />
          </div>
          <div class="col-8 option-name">
            <span>Settings</span>
          </div>
          <div class="col-2 d-flex center-a chev-right">
            <img src="assets/images/other-profile//leftarrow.svg" />
          </div>
        </div>
      </div>
    </div>
  </div> -->