<div class="outsidemaincontainer">
    <div class="main-container">
        <div class="d-flex justify-content-center top-logo mb-3">
            <img src="assets/images/logo-footer.png" alt="logo">
        </div>
        <div class="row">
            <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                <div class="d-flex justify-content-center">
                    <img src="assets/images/change-password.png" class="password-change-img" alt="change password">
                </div>

            </div>
            <div class="col-12 col-md-1 col-lg-1 col-xl-1"></div>
            <div class="col-12 col-md-7 col-lg-7 col-xl-7">
                <div class="password-font">
                    <strong>Reset password</strong>
                </div>

                <!-- password -->

                <form [formGroup]="passwordChange" class="form-in-smalldevices" (ngSubmit)="handleSubmit()">

                    <div class="mt-4">
                        <small>Email</small>
                        <div class="input-group mt-2 mb-4 password-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <img src="assets/images/password.png" alt="lock">
                                </span>
                            </div>
                            <input type="email" class="form-control" aria-label="email" placeholder="Enter Email Id"
                                [ngClass]="{'is-invalid':passwordChange.get('email').touched && 
                            passwordChange.get('email').invalid}" formControlName="email">

                            <!-- <div class="input-group-append">
                                
 
                            </div> -->
                            <div class="invalid-feedback">
                                <span *ngIf="passwordChange.get('email').hasError('required')">
                                    Please enter email
                                </span>
                                <span *ngIf="passwordChange.get('email').hasError('email')">
                                    Input should be of email format
                                </span>
                                <!-- <span *ngIf="passwordChange.get('password').hasError('minlength')">
                                    password should have minimum 4 characters
                                </span>
                                <div *ngIf="passwordChange.get('password').hasError('pattern')">
                                    Password Should contain atleast one letter, number, special character, one uppercase
                                    letter
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <!-- email end -->
                    <!-- <div class="mt-4">
                        <small>NEW PASSWORD</small>
                        <div class="input-group mt-2 mb-4 password-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <img src="assets/images/password.png" alt="lock">
                                </span>
                            </div>
                            <input [type]="changeType()" class="form-control" aria-label="password"
                                placeholder="Enter password" [ngClass]="{'is-invalid':passwordChange.get('password').touched && 
                            passwordChange.get('password').invalid}" formControlName="password">
                            <div class="showhidediv">
                                <span class="pointer-cursor">
                                    <i *ngIf="showPassword==1" class="fas fa-eye-slash" (click)="showhidebtn(2)"></i>
                                    <i *ngIf="showPassword==2" class="fas fa-eye" (click)="showhidebtn(1)"></i>

                                </span>
                            </div>
                          
                            <div class="invalid-feedback">
                                <span *ngIf="passwordChange.get('password').hasError('required')">
                                    Please enter new password
                                </span>
                                <span *ngIf="passwordChange.get('password').hasError('minlength')">
                                    password should have minimum 4 characters
                                </span>
                                <div *ngIf="passwordChange.get('password').hasError('pattern')">
                                    Password Should contain atleast one letter, number, special character, one uppercase
                                    letter
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <!-- confirm password -->

                    <!-- <div>
                        <small>CONFIRM NEW PASSWORD</small>
                        <div class="input-group mt-2 mb-5 password-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <img src="assets/images/password.png" alt="lock">
                                </span>
                            </div>
                            <input type="password" class="form-control" aria-label="password"
                                placeholder="Re-Type Password"
                                [ngClass]="{'is-invalid':passwordChange.get('confirmPassword').touched && passwordChange.get('confirmPassword').invalid}"
                                formControlName="confirmPassword">
                
                            <div class="invalid-feedback">

                                <span *ngIf="passwordChange.get('confirmPassword').hasError('passwordMatch')">
                                    Password and Confirm Password should be same
                                </span>
                            </div>
                        </div>
                    </div> -->

                    <!-- submit and close -->

                    <div class="center-a">
                        <button class="btn shadow-sm close-btn mr-3" type="button" (click)="navigatetohome()">
                            CLOSE
                        </button>
                        <button class="btn shadow-sm register-btn" [disabled]="passwordChange.invalid">
                            SUBMIT
                        </button>
                    </div>

                    <!-- <button
                    class="btn btn-primary btn-block"
                    [disabled]="passwordChange.invalid">
                        Submit
                </button> -->
                </form>
            </div>
        </div>
        <div class="copyright"><small>Copyright © 2021 - Daily Nickel. All rights reserved.</small></div>
    </div>

</div>