.outsidemaincontainer
{
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F3F4F6;
}
 
.showhidediv
{
  position: absolute;
    top: 10px;
    right: 8px;
    z-index: 30;
}
 
.passwordpadding
{
   padding-right: 15px;
}
 
.pointer-cursor
{
  cursor: pointer;
}
 
//removing warning
.form-control.is-invalid, .was-validated .form-control:invalid
{
  background-image: none;
}
 
.top-logo
{
  background-color: transparent;
}
 
.copyright
{
  text-align: center;
  color: #707070;
}
 
.main-container {
  width: 100%;
 
 padding: 15px;
}
 
.main-container>.row{
  padding: 15px;
  background-color: white;
}
.password-change-img {
  max-width: 360px;
  max-height: 361px;
}
.password-font {
  font-size: 1.5em;
}
.password-group {
  max-width: 380px;
  position: relative;
}
.input-group-text {
  background-color: white;
}
.close-btn {
  font-size: 1em;
  color: #869658;
  border: 1px solid #869658;
  border-radius: 1.875rem;
  padding: 0.8125rem 4rem;
}
.register-btn {
  font-size: 1em;
  background-color: #5c6d2e;
  color: white;
  border-radius: 1.875rem;
  padding: 0.8125rem 3.625rem;
}
 
@media (min-width: 1600px) {
  .main-container {
    max-width: 1540px;
  }
}
 
@media (min-width: 1200px) {
  .main-container {
    max-width: 1140px;
  }
}
 
@media (min-width: 992px) {
  .main-container {
    max-width: 960px;
  }
}
 
@media (max-width: 767.98px) {
  .password-change-img {
    max-width: 130px;
    max-height: 130px;
  }
  .close-btn {
    padding: 5px 30px;
  }
  .register-btn {
    padding: 5px 25px;
  }
  .password-font
  {
    text-align: center;
  }
  .center-a
  {
    display: flex;
    justify-content: center;
  }
  .form-in-smalldevices
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form-in-smalldevices>div
  {
    max-width: 300px;
    width: 100%;
  }
 
 
}
