.outerdiv
{
  width: 100vw; position: fixed; bottom: 0px; z-index:10;
}
.bottomBar {
  height: 70px;
  background-color: #ffff;
}
.bottomNavigation {
  height: 70px;
  background-color: #ffff;
}
.bottomNavigationFont {
  color: #154166;
  text-align: center;
  font-size: 10px;
  line-height: 14px;
  font-family: 'Roboto';
  letter-spacing: 0px;
  text-transform: uppercase;
  opacity: 1;
}
 
.addGoodsBtn {
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  font-family: 'Helvetica Neue';
  letter-spacing: 1.4px;
  color: #ffffff;
  text-shadow: 0px 3px 6px #00000029;
  text-transform: uppercase;
  opacity: 1;
  width: 250px;
  height: 60px;
  background-color: #758647;
  border-radius: 30px;
  outline: none;
  border: none;
}
.addSkillsBtn {
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  font-family: 'Helvetica Neue';
  letter-spacing: 1.4px;
  color: #ffffff;
  text-shadow: 0px 3px 6px #00000029;
  text-transform: uppercase;
  opacity: 1;
  width: 250px;
  height: 60px;
  background-color: #234f73;
  border-radius: 30px;
  outline: none;
  border: none;
}
.plusWrap {
  border: 1px dashed #869658;
  border-radius: 30px;
  opacity: 1;
  width: 46px;
  height: 46px;
}
.plusBtn {
  width: 36px;
  height: 36px;
  background-color: #758647;
  border-radius: 50%;
}


.openclass
{
  background: white;
    display: block;
    width: 100vw;
    box-shadow: 0px 0px 20px #00000029;
    border-radius: 40px 40px 0px 0px;
    position: absolute;
    bottom: 59px;
    height: 205px;
    transition:0.5s ease;
    // -webkit-animation-name: example;
    // -webkit-animation-duration: 0.5s;
    // animation-name: example;
    // animation-duration: 0.5s;
    // bottom: 65px;
}
.closeclass
{ 
  // display: none;
  height: 0px;
  overflow: hidden;
  transition:all 0.5s ease;
}

.pointer
{
 cursor: pointer;
}

@-webkit-keyframes example {
  from { bottom:0px; opacity:0 } 
  to { bottom:65px; opacity:1 }
}
@keyframes example { 
  from{ bottom:0px; opacity:0 } 
  to{ bottom:65px; opacity:1 }
}

@-webkit-keyframes close {
  from { bottom:65px; opacity:1 } 
  to { bottom:0px; opacity:0 }
}
@keyframes close { 
  from{ bottom:65px; opacity:1 } 
  to{ bottom:0px; opacity:0 }
}
