<div class="main-container-342">
    <div class="inner-div-342">
        <div class="logo-div-342 max-w center-a">
            <img src="assets/images/logo-footer.png" />
        </div>
        <div class="max-w content-presentation">
            <div class="max-w center-a">
                <span class="regular-bold">Account Activated</span>
            </div>
            <div class="max-w center-a mail-image">
                <img src="assets/images/mail-redirect/mailcheck.png" />
            </div>
            <div class="max-w center-a">
                <span class="hello regular-margin">Hello UserName,</span>
            </div>
            <div class="max-w center-a">
                <span class="para-342"> Thank you, your email has been verified. Your account is now active. </span>
            </div>
            <div class="max-w center-a regular-margin">
                <span class="para-342">Please use the link below to login to your account.</span>
            </div>
            <div class="max-w center-a">
                <button class="login-btn">LOGIN TO YOUR ACCOUNT</button>
            </div>
        </div>
        <div class="max-w center-a">
            <span class="copyright-text-342"> Copyright © 2021 - Daily Nickel. All rights reserved. </span>
        </div>
    </div>
</div>