.desktop {
  display: block;
}
.mobile {
  display: none;
}
.setheight
{
  height:106px;
}
.setheight2
{
  height:79px;
}

.popupopend
{
  height: 100%;
  overflow: hidden;
}


@media (max-width: 767.98px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}
