.searchi_m {
    position: relative;
    top: 35px;
    left: 10px;
    font-size: 22px;
    color: #011322;
}
.hdr3_p_mb {
    font-size: 20px;
    color: #356083;
    font-weight: bold;
    text-align: left;
    margin: 0;
    // line-height: 30px;
    // border-bottom: solid 1px #DDDDDD;
}
.hdr3_mb {
    font-size: 20px;
    color: #356083;
    font-weight: bold;
    text-align: left;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 15px;
}
.M_btnbg_mb {
    background-color: #eaeaea;
    border: solid 1px #ccc;
    color: #c5c5c5;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 15px;
    font-size: 12px;
}
.btn-secondary:hover {
    background-color: #ebeef1;
    color: #000;
}
.btn-secondary:active:focus {
    background-color: #ebeef1;
    color: #000;
}
.milesDV {
    float: left;
    margin-top: 5px;
    margin-left: 2px;
}
// .miles_mt15 {
//     padding-left: 20px;
//     margin-top: 15px;
//     margin-bottom: 15px;
// }
// .miles_mt10 {
//     padding-left: 20px;
//     margin-top: 5px;
//     margin-bottom: 15px;
// }
.miles_rp {
    padding-left: 0px;
}
.hdr3_pmb {
    font-size: 20px;
    color: #356083;
    font-weight: bold;
    text-align: left;
    line-height: 30px;
    margin-bottom: 10px;
    // border-bottom: solid 1px #DDDDDD;
}
.gry_chip {
    background-color: #ebeef1;
    border: solid 1px #ccc;
    color: #c5c5c5;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 15px;
    font-size: 12px;
}
.hdr3_pm {
    font-size: 20px;
    color: #356083;
    font-weight: bold;
    text-align: left;
    line-height: 30px;
    // border-bottom: solid 1px #DDDDDD;
}
.pdt15_mb {
    padding-top: 15px;
    padding-left: 0px;
}
.Goback {
    padding: 10px 0 6px 15px;
    line-height: 30px;
    color: #fff;
    background-color: #707070;
}
.gobacki {
    padding-right: 10px;
}

.goback_btn {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 20px;
}
.btn_bg {
    border-radius: 0;
    line-height: 60px;
}
.btn_gry {
    color: #356083;
    background-color: #ffffff;
    box-shadow: 0px -5px 10px #0000000d;
    border: solid 1px rgb(243, 243, 243);
}
.btn_blu {
    color: #8fb0cb;
    background-color: #356083;
    box-shadow: 0px 0px 6px #00000029;
}
.plr_0 {
    padding-left: 0px;
    padding-right: 0px;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #1e517c !important;
    border-color: #104068;
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #356083 !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: #356083 !important;
}
