// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';
@import './app/components/login/styles/loginmodal.css';
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$dailynickel-web-primary: mat-palette($mat-indigo);
$dailynickel-web-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$dailynickel-web-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$dailynickel-web-theme: mat-light-theme(
  (
    color: (
      primary: $dailynickel-web-primary,
      accent: $dailynickel-web-accent,
      warn: $dailynickel-web-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($dailynickel-web-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

// Slick corousal styles

.slick-track {
  // width: auto !important;
  min-width: 100%;
}

.slick-prev,
.slick-next {
  width: 30px;
  height: 32px;
  color: #356083 !important;
  background: #657538 0% 0% no-repeat padding-box !important;
  box-shadow: 0px 8px 20px #00000029 !important;
  border-radius: 5px !important;
}
.slick-prev:before,
.slick-next:before {
  color: #fff !important;
}

.slick-prev::before {
  font-family: FontAwesome;
  content: '';
  font-size: 25px;
  font-weight: bold;
}
.slick-next::before {
  font-family: FontAwesome;
  content: '';
  font-size: 25px;
  font-weight: bold;
  padding-left: 3px;
}
// .slick-prev.slick-disabled:before,
// .slick-next.slick-disabled:before {
//   background-color: #b7b7b7;
// }
.slick-disabled {
  background-color: #b7b7b7 !important;
}
