<div>
  <div class="col-md-12 rowpt footerbg">
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <div class="smallscreen">
          <img class="img-fluid" src="assets/images/logo-footer.png" alt="image" />
        </div>
        <div>
          <p class="footerp">
            Consectetur adipisicing elit, sed do eiusmod tempor incididunt utbor etian dolm magna aliqua enim ad minim
            veniam quis nostrud exercita ullamco.
          </p>
        </div>

        <div>
          <div class="address_p">
            <span class="material-icons footericon"> location_on </span>
            <span class="align-top">Keystone Way #301, Carmel, IN 46032 </span>
          </div>
          <div class="address_p">
            <span class="material-icons footericon"> language </span> <span class="align-top"> info@stlogics.com </span>
          </div>
          <div class="address_p">
            <span class="material-icons footericon"> call </span> <span class="align-top"> (317) 845-5326 </span>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-3 col-md-6 mb-4 mb-md-0">
        <div class="footersubhdr">ABOUT US</div>
        <div>
          <nav class="nav flex-column">
            <a class="nav-link active cursor-pointer" (click)="openDialogComingsoon()">How it works? </a>
            <a class="nav-link cursor-pointer" (click)="openDialogComingsoon()">About </a>
            <a class="nav-link cursor-pointer" (click)="openDialogComingsoon()">Listing Grid</a>
            <a class="nav-link cursor-pointer" (click)="openDialogComingsoon()">Listing Single - With Chatbox</a>
            <a class="nav-link cursor-pointer" (click)="openDialogComingsoon()">Latest Article Grid </a>
            <a class="nav-link cursor-pointer " (click)="openDialogComingsoon()">Latest Article Detail </a>
            <a class="nav-link cursor-pointer" (click)="openDialogComingsoon()">Login Or Register </a>
            <a class="nav-link cursor-pointer" (click)="openDialogComingsoon()">Contact </a>
          </nav>
        </div>
      </div>
      <div class="col-6 col-lg-3 col-md-6 mb-4 mb-md-0">
        <div class="footersubhdr">POPULAR LOCATIONS</div>
        <div>
          <nav class="nav flex-column">
            <a class="nav-link cursor-pointer" (click)="openDialogComingsoon()">Indianapolis </a>
            <a class="nav-link cursor-pointer" (click)="openDialogComingsoon()">Fort Wayne </a>
            <a class="nav-link cursor-pointer" (click)="openDialogComingsoon()">Evansville </a>
            <a class="nav-link cursor-pointer" (click)="openDialogComingsoon()">South Bend </a>
            <a class="nav-link cursor-pointer" (click)="openDialogComingsoon()">Carmel </a>
            <a class="nav-link cursor-pointer" (click)="openDialogComingsoon()">Fishers </a>
            <a class="nav-link cursor-pointer" (click)="openDialogComingsoon()">Bloomington </a>
            <a class="nav-link cursor-pointer" (click)="openDialogComingsoon()">Hammond </a>
          </nav>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <div class="footersubhdr">Download Mobile App</div>
        <div class="d-flex appimg">
          <div style="margin-left:6px" class="p-2">
            <a href="https://play.google.com/store/apps/details?id=com.stlogicsllc.dailynickel" target="blank">
              <img class="img-fluid rounded" src="assets/images/googleplay.png" alt="1" />
            </a>

          </div>

          <div class="p-2">
            <a href="https://apps.apple.com/us/app/dailynickel/id1309502194" target="blank">
              <img class="img-fluid rounded" src="assets/images/appstore.png" alt="1" />
            </a>
          </div>
        </div>
        <div>
          <div class="footersubhdr1">Follow Up</div>
          <section>
            <div>
              <div class="row">
                <div class="col-sm-12">
                  <ul class="list-inline" style="margin-left: 16px;">
                    <a (click)="openDialogComingsoon()" title="Like us!" class="pr-3 cursor-pointer">
                      <img src="assets/images/socialmedia-icons/facebook.svg" alt="facebook">
                    </a>
                    <a (click)="openDialogComingsoon()" title="Tweet us!" class="pr-3 cursor-pointer">
                      <img src="assets/images/socialmedia-icons/twitter.svg" alt="twitter">
                    </a>
                    <a (click)="openDialogComingsoon()" title="Connect wih us!" class="pr-3 cursor-pointer">
                      <img src="assets/images/socialmedia-icons/linkedin.svg" alt="linkedin">
                    </a>
                    <a (click)="openDialogComingsoon()" title="Code with us!" class="pr-3 cursor-pointer">
                      <img src="assets/images/socialmedia-icons/instagram.svg" alt="instagram">
                    </a>
                    <a (click)="openDialogComingsoon()" title="Code with us!" class="pr-3 cursor-pointer">
                      <img src="assets/images/socialmedia-icons/youtube.svg" alt="youtube">
                    </a>
                    <a (click)="openDialogComingsoon()" title="Code with us!" class="pr-3 cursor-pointer">
                      <img src="assets/images/socialmedia-icons/googleplus.svg" alt="googleplus.svg">
                    </a>
                  </ul>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">Copyright © {{ currentYear }} - Daily Nickel. All rights reserved.</div>
  <!-- empty space -->
  <div class="d-block d-md-none">
    <div style="height: 70px;"></div>
  </div>
</div>